* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: url("font/NetflixSans-Regular.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: myFont;
    background-color: black;
    padding: 0 40px;
}

/* Background image with blur effect */

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    z-index: -1;
    background: linear-gradient(
            to bottom,
            rgba(54, 0, 0, 0.623),
            rgba(0, 0, 0, 0.89)
        ),
        url("images/background-image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    filter: blur(16px);
}

/* Head section */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 40px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.7889) 8.333%,
        rgba(0, 0, 0, 0.7556) 16.67%,
        rgba(0, 0, 0, 0.7) 25%,
        rgba(0, 0, 0, 0.6222) 33.33%,
        rgba(0, 0, 0, 0.5222) 41.67%,
        rgba(0, 0, 0, 0.4) 50%,
        rgba(0, 0, 0, 0.2778) 58.33%,
        rgba(0, 0, 0, 0.1778) 66.67%,
        rgba(0, 0, 0, 0.1) 75%,
        rgba(0, 0, 0, 0.04444) 83.33%,
        rgba(0, 0, 0, 0.01111) 91.67%,
        rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
    z-index: 10;
}

.logo {
    width: 158px;
    margin-left: 2px;
}

.sign-in {
    background-color: white;
    color: black;
    padding: 8px 14px;
    border-radius: 100px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
    margin-right: 10px;
    cursor: pointer;
}

.sign-in:hover {
    background-color: rgb(182, 182, 182);
}

.navigator {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 80px;
    border-radius: 30px;
    width: 446px;
    padding: 13px 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    z-index: 10;
    backdrop-filter: blur(8px);
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    white-space: nowrap;
}

.navigator li {
    transition: background-color 0.3s ease-in-out;
}

.navigator li a {
    font-size: small;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.774);
    font-weight: 500;
}

/*Main content section*/

.main-content-background {
    position: relative;
    color: white;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0px 30px rgb(0, 0, 0);
    margin-top: 140px;
    padding: 0 80px 88px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 20%,
        rgba(0, 0, 0, 0.548) 40%,
        rgba(0, 0, 0, 0.37) 80%,
        rgba(255, 255, 255, 0.1) 100%
    );
}

.main-content-background::after {
    content: "";
    position: absolute;
    top: -140px;
    left: 0;
    height: 100%;
    width: 100%;
    min-height: 200vh;
    background-image: url("images/background-image.webp");
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(54, 0, 0, 0.5);
    background-blend-mode: darken;
    z-index: -1;
}

.main-content {
    max-width: 645px;
    margin-top: 270px;
}

.main-content h1 {
    font-size: 66px;
    font-weight: 800;
    margin-bottom: 18px;
    text-align: center;
}

.main-content .first-para {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
}

.main-content .second-para {
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;
}

.email-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.email-input-container input {
    width: 100%;
    background-color: #494949;
    color: white;
    padding: 20px 20px;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.email-input-container input::placeholder {
    color: rgba(255, 255, 255, 0.815);
}

.email-input-container button {
    background-color: #e50914;
    color: rgb(255, 255, 255);
    padding: 16px 40px;
    border-radius: 100px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-wrap: nowrap;
}

.email-input-container button:hover {
    background-color: #b90009;
}

/* Plans Section */

.sub-section {
    color: rgb(204, 204, 204);
    margin-top: 80px;
    padding: 0 160px;
}

.sub-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 800;
}

.plans-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
}

.plans-container a {
    text-decoration: none;
    color: white;
    opacity: 0.6;
    padding: 40px 16px 8px 16px;
    width: 25%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, #2a5c9e, #000000);
    box-shadow: 0 0px 20px rgb(0, 0, 0);
}

.plans-container a aside {
    background-color: #5e4d86;
    display: inline;
    position: absolute;
    padding: 6px;
    top: 0;
    right: 0;
    border-bottom-left-radius: 8px;
    font-weight: 800;
    font-size: small;
}

.plans-container a:last-child,
.plans-container a:nth-child(3) {
    background: linear-gradient(135deg, #772a94, #000000);
}

.plans-container a:hover {
    opacity: 1;
    transform: scale(1.02);
}

.plans-container a ul {
    list-style: none;
    padding: 0;
}

.plans-container a ul li:before {
    content: "✔";
    margin-right: 8px;
}

.plans-container a:not(:first-of-type) ul li:last-child::before {
    color: transparent;
}

.plans-container a h3 {
    font-size: 24px;
    font-weight: 800;
}

.plans-container a h4 {
    font-size: 18px;
}

.plans-container h3,
.plans-container h4,
.plans-container ul {
    margin-bottom: 12px;
}

/* Reasons to join section */

.reasons-to-join-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
}

.reasons-to-join-container div {
    padding: 40px 26px;
    border-radius: 16px;
    width: 25%;
    height: 326px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(135deg, rgb(34, 38, 77), rgb(48, 5, 48));
}

.reasons-to-join-container div h3 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 24px;
    color: white;
}

.reasons-to-join-container div p {
    font-weight: 600;
}

.side-icon {
    position: absolute;
    bottom: 16px;
    right: 8px;
    width: 100px;
}

/* FAQ section */

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.faq-question,
.faq-answer {
    font-size: 24px;
    font-weight: 400;
    color: white;
    background-color: #353535;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    padding: 24px;
    cursor: pointer;
}

.faq-question:hover {
    background-color: #494949;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.faq-answer-inner {
    padding: 24px;
    color: white;
    background-color: #353535;
    font-size: 24px;
    font-weight: 400;
}

/* Footer section */

.footer {
    color: #757575;
    padding: 40px 20px;
    font-size: 14px;
}

.footer-container {
    max-width: 1000px;
    margin: auto;
}

.footer-title {
    margin-bottom: 30px;
}

.footer-title a {
    color: #757575;
    text-decoration: underline;
}

.footer-links ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
}

.footer-links ul li {
    margin-bottom: 16px;
}

.footer-links ul li a {
    color: #757575;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-copy {
    font-size: 13px;
}
