* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: black;
    scroll-behavior: smooth;
    padding: 0 40px;
}

/* Background image with blur effect */

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    z-index: -1;
    background: linear-gradient(rgba(54, 0, 0, 0.5), rgba(54, 0, 0, 0.5)),
        url("images/background-image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    filter: blur(20px);
}

/* Head section */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 40px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.7889) 8.333%,
        rgba(0, 0, 0, 0.7556) 16.67%,
        rgba(0, 0, 0, 0.7) 25%,
        rgba(0, 0, 0, 0.6222) 33.33%,
        rgba(0, 0, 0, 0.5222) 41.67%,
        rgba(0, 0, 0, 0.4) 50%,
        rgba(0, 0, 0, 0.2778) 58.33%,
        rgba(0, 0, 0, 0.1778) 66.67%,
        rgba(0, 0, 0, 0.1) 75%,
        rgba(0, 0, 0, 0.04444) 83.33%,
        rgba(0, 0, 0, 0.01111) 91.67%,
        rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
    z-index: 10;
}

.logo {
    width: 158px;
    margin-left: 2px;
}

.sign-in {
    background-color: white;
    color: black;
    padding: 8px 14px;
    border-radius: 100px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
    margin-right: 10px;
    cursor: pointer;
}

.sign-in:hover {
    background-color: rgb(182, 182, 182);
}

.navigator {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 80px;
    border-radius: 30px;
    width: 446px;
    padding: 13px 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    z-index: 10;
    backdrop-filter: blur(8px);
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    white-space: nowrap;
}

.navigator li {
    transition: background-color 0.3s ease-in-out;
}

.navigator li a {
    font-size: small;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.774);
    font-weight: 500;
}

/*Main content section*/

.main-content-background {
    position: relative;
    color: white;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0px 30px rgb(0, 0, 0);
    margin-top: 140px;
    padding: 0 80px 88px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 20%,
        rgba(0, 0, 0, 0.548) 40%,
        rgba(0, 0, 0, 0.37) 80%,
        rgba(255, 255, 255, 0.1) 100%
    );
}

.main-content-background::after {
    content: "";
    position: absolute;
    top: -140px;
    left: 0;
    height: 100%;
    width: 100%;
    min-height: 200vh;
    background-image: url("images/background-image.webp");
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(54, 0, 0, 0.5);
    background-blend-mode: darken;
    z-index: -1;
}

.main-content {
    max-width: 645px;
    margin-top: 270px;
}

.main-content h1 {
    font-size: 66px;
    font-weight: 800;
    margin-bottom: 18px;
    text-align: center;
}

.main-content .first-para {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
}

.main-content .second-para {
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;
}

.email-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.email-input-container input {
    width: 100%;
    background-color: #494949;
    color: white;
    padding: 20px 20px;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.email-input-container input::placeholder {
    color: rgba(255, 255, 255, 0.815);
}

.email-input-container button {
    background-color: #e50914;
    color: rgb(255, 255, 255);
    padding: 16px 40px;
    border-radius: 100px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-wrap: nowrap;
}

.email-input-container button:hover {
    background-color: #b90009;
}
